---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/HeroSection.astro';
import AbstractSection from '../components/AbstractSection.astro';
import OverviewSection from '../components/OverviewSection.astro';
import DatasetSection from '../components/DatasetSection.astro';
import BenchmarkSection from '../components/BenchmarkSection.astro';
import CitationSection from '../components/CitationSection.astro';
---

<Layout title="Act2Cut: Continuous Next-Shot Video Narrative Match on Action-Cut">
  <Navigation />
  <main class="w-full max-w-5xl mx-auto px-4 py-16 md:py-24 flex flex-col gap-16 relative z-10">
    <HeroSection />
    <AbstractSection />
    <OverviewSection />
    <DatasetSection />
    <BenchmarkSection />
    <CitationSection />
  </main>
</Layout>
